.link-arrow-l {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.link-arrow-l .button-text {
  height: 26px;
  min-width: 153px;
  position: relative;
}

.link-arrow-l .EXPLORE-FEATURES {
  color: #191919;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 26px;
  left: 0;
  letter-spacing: 0.08px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.link-arrow-l .arrow {
  height: 7.36px;
  margin-right: -0.5px;
  min-width: 17.5px;
  position: relative;
}
